$font-color: #24344e;
$font-color-description: #666;
$font-color-minor: #999;
$font-color-disabled: #bbb;
$font-color-link: #2687d0;
$font-color-link-hover: #24344e;

$font-color-state: #f79000;
$font-color-state-success: #2dc12D;
$font-color-state-warning: #ff2200;

$font-size: 12px;
$font-size-h1: 16px;
$font-size-h2: 14px;
$font-size-h3: 12px;

$icon-color-state-middle: #f2c200;
$icon-color-state-success: #6dcc50;
$icon-color-state-warning: #ff625c;

